:root{
    --yellow: #ffc200;
    --yellow2: #f8ab0b;
    --red: #ed0000;
    --black: #2b2a29;
    --black2: #3d3d3d;
    --black3: #2e2d2d;
    --black4: #434242;
}
body{
    font-size: 1.1rem;
    font-family: Verdana,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: var(--black);
}
.flex{
    display: flex;
}
.container-lg{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width:1100px){
    .container{max-width:1280px}
    .container-lg{
        max-width:1110px
    }
}
.header .header_top{
    padding-top: 25px;
    padding-bottom: 29px;
    background: #ffc200; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffc200 0%, #d09e00 99%, #d09e00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffc200 0%,#d09e00 99%,#d09e00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffc200 0%,#d09e00 99%,#d09e00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc200', endColorstr='#d09e00',GradientType=0 ); /* IE6-9 */
}
.header .header_contact{
    justify-content: space-around;
    font-size: 16px;
    align-items: center;
}
.header .header_contact .item_info .label{
    color: #ffffff;
    text-transform: uppercase;
}
.header .header_contact .item_info .item_cnt{
    color: var(--black);
}
.header .header_contact .item_info .item_cnt a{
    color: var(--black);
}
.ico_pattern{
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: contain!important;
}
.ico.ico_redphone{
    background: url('../image/redphone.png');
    width: 43px;
    height: 54px;
}
.ico.ico_redtime{
    background: url('../image/redtime.png');
    width: 53px;
    height: 54px;
}
.ico.ico_redmail{
    background: url('../image/redmail.png');
    width: 57px;
    height: 40px;
}
.header .header_contact .item{
    display: flex;
    align-items: center;
}
.header .header_contact .ico{
    display: block;
    margin-right: 25px;
}
.header_bottom{
    padding-top: 47px;
    text-align: center;
    background: #ffffff;
    position: relative;
}
.header_bottom .container{
    position: relative;
    z-index: 30;
}
.header{
    overflow: hidden;
    background: var(--yellow2);
    padding-bottom: 56px;
}
.header_bottom h1{
    color: var(--black4);
    font-weight: bold;
    font-size: 40px;
    max-width: 900px;
    margin: 0px auto;
    padding-bottom: 30px;
    font-family: Verdana,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.header_bottom .logo{
    margin-bottom: 42px;
}
.header_bottom .logo img{
    max-width: 560px;
}
.header_bottom .header_menu ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none!important;
}
.header_bottom .header_menu ul li{
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
}
.header_bottom .header_menu ul li a{
    color: var(--black4);
    font-size: 24px;
}
.header_bottom .header_menu ul li:not(:last-child)::after{
    content: "";
    background: #2e2c28;
    width: 2px;
    display: block;
    height: 60px;
    margin: 0px 75px;
}
.header_bottom .header_menu ul li a:hover{
    color: black;
}
.main{
    min-height: 2500px;
    background: var(--yellow2);
    overflow: hidden;
    margin-top: -100px;
    padding-top: 100px;
}
.header_bottom .line_group{
    position: absolute;
    z-index: 20;
    bottom: -25px;
    display: flex;
    width: 100%;
}
.header_bottom .line_group .line{
    background: #ffffff;
    height: 100px;
    width: 50%;
    -webkit-box-shadow: 0 12px 12px -9px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 12px 12px -9px rgba(0, 0, 0, 0.15);
    box-shadow: 0 12px 12px -9px rgba(0, 0, 0, 0.15);
}
.header_bottom .line_group .line.line_lf{
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
    margin-right: -5px;
}
.header_bottom .line_group .line.line_rg{
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    margin-left: -5px;
}
.main_section{
    padding-top: 40px;
}
h2{
    color: var(--black);
    font-size: 40px;
    margin-bottom: 39px;
    font-weight: bold;
    font-family: Verdana,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.cl_form{
    font-size: 18px;
    padding-bottom: 60px;
    position: relative;
    z-index: 20;
}
.cl_form .text_info{
    margin-bottom: 25px;
}
.form_row:not(:last-child){
    margin-bottom: 30px;
}
.form_row label{
    color: #ffffff;
}
.form-control{
    border-radius: 0px;
    border: 0px;
    height: 60px;
}
.cl_form .form-control{
    max-width: 460px;
}
.btn_def{
    height: 80px;
    border-radius: 6px;
    color: var(--yellow2);
    text-transform: uppercase;
    padding: 0px 70px;
    border: 0px!important;
    outline: none!important;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#434242+0,434242+49,2b2a29+50,2b2a29+100 */
    background: #434242; /* Old browsers */
    background: -moz-linear-gradient(top,  #434242 0%, #434242 49%, #2b2a29 50%, #2b2a29 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #434242 0%,#434242 49%,#2b2a29 50%,#2b2a29 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #434242 0%,#434242 49%,#2b2a29 50%,#2b2a29 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434242', endColorstr='#2b2a29',GradientType=0 ); /* IE6-9 */
}
.btn_def:hover{
    opacity: 0.9;
}
.section_vd{
    position: relative;
    padding-bottom: 0px;
    padding-top: 40px;
}
.section_vd::after{
    content: "";
    position: absolute;
    right: -100px;
    top: -300px;
    background: url('../image/dv-min.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 973px;
    height: 1024px;
    z-index: 10;
}
.section_line{
    background: var(--black) url('../image/line_bg-min.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    padding-bottom: 80px;
    padding-top: 150px;
    position: relative;
}
.section_vd .line_group{
    position: absolute;
    z-index: 10;
    bottom: -25px;
    display: flex;
    width: 100%;
}
.section_vd .line_group .line{
    background: var(--yellow2);
    height: 100px;
    width: 50%;
}
.section_vd .line_group .line.line_lf{
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
    margin-right: -5px;
}
.section_vd .line_group .line.line_rg{
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    margin-left: -5px;
}
.ser_card{
    text-align: center;
    color: #ffffff;
}
.ser_card img{
    margin-bottom: 70px;
}
.ser_card .text{
    font-size: 20px;
    margin-bottom: 63px;
    min-height: 180px;
    display: flex;
    align-items: center;
}
.ser_card .text p{
    margin: 0px auto;
    max-width: 320px;
}
.btn_ye{
    height: 80px;
    border-radius: 6px;
    color: var(--black);
    text-transform: uppercase;
    padding: 0px 70px;
    border: 0px!important;
    outline: none!important;
    background: #fdc653;
    background: -moz-linear-gradient(top, #fdc653 0%, #fdc653 49%, #f8ab0b 50%, #f8ab0b 100%);
    background: -webkit-linear-gradient(top, #fdc653 0%,#fdc653 49%,#f8ab0b 50%,#f8ab0b 100%);
    background: linear-gradient(to bottom, #fdc653 0%,#fdc653 49%,#f8ab0b 50%,#f8ab0b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc653', endColorstr='#f8ab0b',GradientType=0 );
}
.btn_ye:hover{
    opacity: 0.9;
}
.section_line .line_group{
    position: absolute;
    z-index: 10;
    bottom: -25px;
    display: flex;
    width: 100%;
}
.section_line .line_group .line{
    background: var(--black);
    height: 100px;
    width: 60%;
    position: relative;
}
.section_line .line_group .line.line_lf{
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
    margin-right: -5px;
    margin-left: -30px;
}
.section_line .line_group .line.line_lf::after{
    content: "";
    height: 27px;
    width: 100%;
    background: url('../image/line_grad.png');
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.section_line .line_group .line.line_rg{
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    margin-left: -5px;
    margin-right: -30px;
}
.section_line .line_group .line.line_rg::after{
    content: "";
    height: 27px;
    width: 100%;
    background: url('../image/line_grad.png');
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.section_list{
    position: relative;
    background: #ffffff url('../image/sect_list_bg-min.jpg');
    background-repeat: no-repeat;
    padding-top: 100px;
    background-position: top;
    background-size: 100% 646px;
    padding-bottom: 110px;
}
.section_list h2{
    max-width: 900px;
    text-align: center;
    margin: 0px auto;
    padding-bottom: 116px;
}
.card_s{
    padding: 84px 44px 31px 44px;
    background: #ffffff;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    position: relative;
    margin-bottom: 110px;
}
.card_s .name{
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    min-height: 48px;
    align-items: center;
    justify-content: center;
}
.card_s p{
    margin-bottom: 0px;
}
.card_s .text{
    min-height: 300px;
}
.card_s .img{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -67.5px;
    margin-top: -67.5px;
    z-index: 5;
}
.section_list .container{
    position: relative;
    z-index: 10;
}
.section_list::after{
    content: "";
    background: url('../image/list_bot_line-min.png');
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 554px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
}
.section_list .line_group{
    position: absolute;
    z-index: 10;
    bottom: -70px;
    display: flex;
    width: 100%;
}
.section_list .line_group .line{
    background: var(--black2);
    height: 100px;
    width: 60%;
    position: relative;
}
.section_list .line_group .line.line_lf{
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
    margin-right: -5px;
    margin-left: -30px;
}
.section_list .line_group .line.line_rg{
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    margin-left: -5px;
    margin-right: -30px;
}
.section_bot{
    min-height: 500px;
    background: var(--black2);
    position: relative;
    z-index: 50;
    padding-bottom: 64px;
}
.section_list .h1{
    position: absolute;
    width: 428px;
    background: url('../image/h1-min.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    bottom: 0;
}
.section_list .h2{
    position: absolute;
    width: 428px;
    background: url('../image/h1-min.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    right: -30px;
    top: 0;
    bottom: 0;
}
.fav_card{
    color: #fec400;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}
.fav_card .img{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 132px;
}
.fav_card p{
    max-width: 280px;
    margin: 0px auto;
    font-size: 24px;
    text-transform: uppercase;
}
.fav_card .hr_line{
    background: #fec400;
    height: 4px;
    margin-top: 26px;
    margin-bottom: 30px;
}
.cal_bt_form{
    padding-top: 50px;
    color: #ffffff;
    max-width: 900px;
    margin: 0px auto;
}
.cal_bt_form label{
    font-size: 18px;
}
.cal_bt_form .row{
    margin-left: -30px;
    margin-right: -30px;
}
.cal_bt_form .row .form_col{
    padding-left: 30px;
    padding-right: 30px;
}
.cal_bt_form  .col_btn{
    text-align: center;
    margin-top: 33px;
}
.bottom_menu {
    background: var(--black3);
    position: relative;
    z-index: 50;
}
.bottom_menu .main_logo{
    margin-top: -60px;
    margin-bottom: -60px;
    display: block;
}
.bottom_menu h4{
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 30px;
    font-weight: bold;
    height: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
    font-size: 32px;
}
footer{
    background: var(--black2);
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer_brends img{
    max-width: 110px;
}
.footer_brends .col-lg-4:not(.last) {
    margin-bottom: 30px;
}
.footer_brends .col-lg-4 a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    min-height: 76px;
}
.footer_brends .col-lg-4 a .zf{
    max-width: 60px;
}
.footer_brends{
    text-align: center;
}
.footer_bt{
    background: var(--black3);
    color: #ffb70f;
    text-align: center;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
}